[user]
	name = Tyler Marques
	signingkey = me@tylermarques.com
	email = me@tylermarques.com
[core]
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RF
	excludesfile = /home/tyler/dotfiles/git/ignore
[init]
	defaultBranch = main
[diff]
	tool = vimdiff
	external = difft
[commit]
	gpgsign = true

[merge]
	tool = "nvim"
	conflictStyle = zdiff3

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvim"]
	cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[gpg]
	program = /usr/bin/gpg
[credential]
	helper = cache


[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
