[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "oh-my-tmux"]
	path = oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "fzf-git.sh"]
	path = fzf-git.sh
	url = git@github.com:junegunn/fzf-git.sh.git
